.najmul{
    color: red;
    text-align: center;
    border: 40px solid green;
    border-radius: 10px;
    background: blue;

}
.bg{
    color: beige;
    background-color: bisque;
}
.ovi{
    text-align: justify;
   color: brown;
    
}
.boy{
    text-decoration: none;
}